@import 'variables.scss';
@import "../../node_modules/@fortawesome/fontawesome-free/css/all.css";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Arvo', serif;
}

.text-shadow, .text-shadow:hover{
  color: #ffffff;
  text-shadow: 2px 1px 1px #000000;
}
